extends layouts/app.jade

block title
  title Home

block main
  main
    section.creators.space
      .container
        .row
          .col-12.text-center
            .heading.mb-4
              h2 newest creators
              img(src="dist/images/crown.png" alt="" style="width: 30px;")
        .bg-white.position-relative(style="box-shadow: 0 0 10px rgba(223, 223, 223, 0.35);")        
          .carosual.mx-auto
            - for (var x = 1; x < 16; x++)
              a.item.text-center.d-block.text-decoration-none(href="#" data-toggle="tooltip" data-placement="bottom" title="david")
                img(src="dist/images/cre.png" alt="")
    section.video.space.pt-0
      .container
        .row
          .col-12
            .heading.text-center.mb-4
              h2 latest videos
              img(src="dist/images/favourites.png" alt="" style="width: 30px;")     
        .row.videos
          - for (var x = 1; x < 7; x++)
            .col-lg-4.col-md-6
              .item.bg-white
                a.img.position-relative.d-block(href="#")
                  img.w-100(src="dist/images/video.png" alt="")
                  i.fas.fa-play    
                .text
                  p
                    a(href="#") Lorem Ipsum is simply dummy text of the fine printing and typesetting industry.
                  .row.align-items-center
                    .col-6
                      a.author.d-inline-block.text-decoration-none(href="#")
                        img(src="dist/images/author.png" alt="")    
                        span.d-inline-block David
                    .col-6.text-right
                      p.m-0 
                        i.far.fa-eye.mr-1 
                        | 1011     
        .mx-auto.mt-5(style="max-width: 194px;")
          a.button.btn.text-uppercase.d-flex.align-items-center.justify-content-center(href="#") See more                  

