mixin sidebar()
  .col-lg-4.col-md-5.mb-md-0.mb-4
    aside.h-100
      nav.aside-menu.h-100.b-shadow 
        ul.p-0.m-0.list-unstyled
          li.d-flex.align-items-center.active
            a.text-nowrap(href="video-upload.html") Upload video
          li.d-flex.align-items-center
            a.text-nowrap(href="editor.html") Title & Description
          li.d-flex.align-items-center
            a.text-nowrap(href="#") Thumbnail Setup
          li.d-flex.align-items-center
            a.text-nowrap(href="#") Category & tags
          li.d-flex.align-items-center
            a.text-nowrap(href="#") Advertisement
          li.d-flex.align-items-center
            a.text-nowrap(href="#") Extras          
