header.main-header.bg-white.no-login
  .container-fluid.px-0
    nav.navbar.navbar-expand-lg.p-0.align-items-center
      a.navbar-brand.px-3(href='index.html')
        img(src="dist/images/logo.png" alt="")
      .search-tigger.d-lg-none.d-flex.align-items-center.mobile-serach-tigger(data-toggle="modal" data-target="#exampleModal")
        form.d-flex.w-100.mr-2(action="#")
          input(type="text" placeholder="Search Here")
        i.fas.fa-search
      button.navbar-toggler(type='button' data-toggle='slide-collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        .bar1.bar
        .bar2.bar
        .bar3.bar
      #navbarSupportedContent.collapse.navbar-collapse
        .order-menu
          button.close.d-lg-none.d-flex.align-items-center.justify-content-center(type='button' data-toggle='slide-collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
            i.fas.fa-times
          ul.navbar-nav.ml-lg-auto.toggle-nav-bar
            li.nav-item.active
              a.nav-link.px-0(href='#')
                | Home 
            li.nav-item
              a.nav-link.px-0(href='#') Rising
            li.nav-item
              a.nav-link.px-0(href='#') Feed
            li.nav-item.active
              a.nav-link.px-0(href='#') Updates
            li.nav-item
              a.nav-link.px-0(href='#') Records      
          .search-tigger.d-none.d-lg-flex.align-items-center(data-toggle="modal" data-target="#exampleModal")
            form.d-flex(action="#")
              input(type="text" placeholder="Search Here")
            i.fas.fa-search
          ul.menu-author.navbar-nav.order-1
            li.nav-item.login.bg-pink.mr-0.justify-content-center
              a.text-nowrap(href="#") LOGIN/REGISTER



