header.main-header.bg-white
  .container-fluid.px-0
    nav.navbar.navbar-expand-lg.p-0.align-items-center
      a.navbar-brand.px-3(href='index.html')
        img(src="dist/images/logo.png" alt="")
      .notification.d-block.d-lg-none.ml-auto
        i.fas.fa-bell  
        .number 2
      button.navbar-toggler(type='button' data-toggle='slide-collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        i.fas.fa-bars
      #navbarSupportedContent.collapse.navbar-collapse
        .order-menu
          button.close.d-lg-none.d-flex.align-items-center.justify-content-center(type='button' data-toggle='slide-collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
            i.fas.fa-times
          ul.navbar-nav.ml-lg-auto.toggle-nav-bar
            li.nav-item.active
              a.nav-link.px-0(href='#')
                | Home 
            li.nav-item
              a.nav-link.px-0(href='#') Rising
            li.nav-item
              a.nav-link.px-0(href='#') Feed
                .number 2
            li.nav-item.active
              a.nav-link.px-0(href='#') Updates
                .number 99+
            li.nav-item
              a.nav-link.px-0(href='#') Records      
          .search-tigger.d-none.d-lg-flex.align-items-center(data-toggle="modal" data-target="#exampleModal")
            form.d-flex(action="#")
              input(type="text" placeholder="Search Here")
            i.fas.fa-search
          .notification.d-none.d-lg-block
            i.fas.fa-bell
            .number 2
          ul.menu-author.navbar-nav.order-1
            li.nav-item.dropdown.bg-pink.mr-0.d-flex.flex-wrap.align-items-center
              a.profile-pic(href="#")
                img(src="dist/images/cre.png" alt="")
              a.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                span.ml-2 David Richardson
              .dropdown-menu.border-0(aria-labelledby='navbarDropdown')
                form.form-inline.d-block.d-lg-none.dropdown-item.px-0.pt-0
                  input.form-control(type='search' placeholder='Search' aria-label='Search')
                a.dropdown-item.active(href='#')
                  i.far.fa-user
                  | Profile
                a.dropdown-item(href='#') 
                  i.fas.fa-upload
                  | Upload
                a.dropdown-item(href='#') 
                  i.fas.fa-star
                  | Channels
                a.dropdown-item(href='#') 
                  i.fas.fa-dollar-sign
                  | Earnings
                a.dropdown-item(href='#') 
                  i.fas.fa-chart-pie
                  | Statistics
                a.dropdown-item(href='#') 
                  i.fas.fa-cog
                  | Settings
                a.dropdown-item(href='#') 
                  i.fas.fa-power-off
                  | Sign Out
            li.nav-item.login.bg-pink.mr-0.d-none.justify-content-center
              a.text-nowrap(href="#") login / register



