.b-shadow {
  box-shadow: 0 0 10px rgba(223, 223, 223, 0.35);
}
.video-upload {
  background: #fff;
  padding: 13px;
  form {
    border: 5px dashed #e7e7e7;
    label {
      min-height: 259px;
      cursor: pointer;
    }
  }
  i {
    font-size: 72px;
    color: #f8898d;
    margin-bottom: 20px;
  }
  p {
    color: #cccccc;
    text-transform: uppercase;
    font-weight: 700;
  }
  input {
    position: absolute;
    opacity: 0;
  }
}

.progress {
  border-radius: 0;
  margin-top: 36px;
  .progress-bar {
    background: #f8898d;
  }
}

.navigation {
  text-align: center;
  margin-top: 36px;
  a {
    display: inline-block;
    background-color: #f8898d;
    color: #fff;
    padding: 13px 30px;
    margin: 0 9px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.3s;
    &:hover,
    &.active {
      background: #ef3e33;
    }
  }
}

// ========================== editor
.editor {
  form {
    input {
      width: 100%;
      color: #cccccc;
      font-weight: 700;
      background-color: #ffffff;
      height: 45px;
      border: none;
      padding: 5px 15px;
      margin-bottom: 30px;
    }
  }
  .tox-tinymce {
    border: none;
    box-shadow: 0 0 10px rgba(223, 223, 223, 0.35);
  }
  .tox-statusbar {
    display: none !important;
  }
  .tox .tox-edit-area__iframe {
    padding-bottom: 10px;
  }
}
