extends layouts/app.jade

block title
  title Home

block vars
  - bodyClass = "forget-password"  

block header
  include partials/header-forget-password.jade

block main
  .container
    .forget-password-form.mx-auto
      h2.text-center.mb-3 Forgot Password
      .code-step.position-relative
        .step-1-dot.dot
        .step-2-dot.dot
        .step-1.step
          p.m-0 Enter Email
        .step-2.step
          p.m-0 Check Email  
      p.big.mb-2 
        | A confirmation email has been sent to your email 
        b person@website.com. 
      p.poppins.medium.mb-0 Please check your inbox and continue your registration within 24 hours
      form.mt-3(action="#")
        //- input.font-italic(type="text" placeholder="Enter the 6 digit code")
        button(type="submit") Log In
      p.text-center.mt-5 Not a member? 
        a(href="#") Register Now