extends layouts/app.jade

block title
  title Thumbnail Setup

block main
  main.space
    .container
      .row
        .col-12
          h3.aside-heading Video upload Panel
      .row
        +sidebar('h-auto')
        .col-lg-8.col-md-7
          .video-upload.position-relative
            form(action="#")
              h3.aside-heading.small Auto generated
              .radio.mb-5
                label.b-shadow(for="radio-1")  
                  input#radio-1(type='radio' name='gender' value='male' checked='')
                  img(src="dist/images/radio-1.png" alt="")
                label.b-shadow(for="radio-2")   
                  input#radio-2(type='radio' name='gender' value='female')
                  img(src="dist/images/radio-2.png" alt="") 
              h3.aside-heading.small Custom Thumbnail Upload [1280X720]    
              .upload.b-shadow 
                label(for="upload").d-flex.flex-column.justify-content-center.align-items-center
                  input(id="upload" type="file" name="")
                  i.fas.fa-cloud-upload-alt
                  p.mb-0 Click here to upload
          .progress
            .progress-bar.w-75(role='progressbar' aria-valuenow='75' aria-valuemin='0' aria-valuemax='100')
          .navigation
            a.text-decoration-none(href="#") Prev
            a.text-decoration-none(href="#") NEXT

